.body0 {
    font-family: "Futura", "Helvetica", serif;
}

.hr0 {
}

/* Links to internal content */
/* <a class="aint" href="000-toc.xhtml">toc</a> */
.aint0 {
}

/* Links to external content */
/* <a class="aext" href="http://www.google.nl/">search engine</a>
.aext0 {
}

/* <img class="img0" style="width:25%; float:left;"/> */
.img0 {
    border: 0px;
    margin-left: 0em;
    margin-right: 1em;
    height: auto;
}

/* <strong class="strong0"> */
.strong0 {
}

/* <em class="em0"> */
.em0 {
}

/* <u class="u0"> */
.u0 {
}

/* Used for chapter headers */
.h1 {
    text-decoration: underline;
}
/* Sub-chapters or subtitles */
.h2 {
    font-style: italic;
}
/* Headings */
.h3 {
    font-style: normal;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
}

/* Normal paragraphed text
.normal0 {
}

/* Indented normal paragraphed text */
.normal1 {
    margin-left: 1em;
}

/* Normal centered paragraphed text */
.normal2 {
    text-align: center;
}

/* Normal indented paragraph text */
.normal3 {
    text-indent: 1em;
}

/* Indented quoted text */
.normal8 {
    margin-left: 1em;
    font-style: italic;
}

/* Subtext / origintal text edited by publisher */
.normal9 {
    font-size: 0.75em;
    font-style: italic;
}
