@namespace h "http://www.w3.org/1999/xhtml";

.normal0 {
    display: block;
    line-height: 1em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 1.5em;
    font-family: 'futura', sans-serif;
}
.normal1 {
    display: block;
    line-height: 1em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 0em;
    font-family: 'futura', sans-serif;
}

/* Used for the heading of a new chapter */
.chapter0 {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}
