@namespace h "http://www.w3.org/1999/xhtml";

.body {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding-left: 0px;
    padding-right: 0px;
    page-break-before: always;
    text-align: justify;
}

.normal0 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1em;
}

/* Used for the heading of a new chapter */
.chapter0 {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}
