@namespace h "http://www.w3.org/1999/xhtml";

.normal0 {
    font-size: 1em;
    text-align: left;
    font-family: 'futura', sans-serif;
}

/* Used for the heading of a new chapter */
.chapter0 {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}
